
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            background-color: rgb(55, 86, 99);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 10px;
            font-size: 20px;
            list-style: none;
        }

        header a {
            padding: 20px;
            color: yellow;
        }

        header a:hover {
            color: rgb(106, 192, 228);
        }

        .nav_links {
            list-style: none;


        }

        .nav_links li {
            display: inline-block;
            padding: 0px 40px;
            font-size: 20px;

        }


        .nav_links li a {
            color: yellow;
            transition: all 0.3s ease 0s;

        }

        .nav_links li a:hover {
            color: rgb(106, 192, 228);
        }



        .container {
            display: flex;
            position: relative;
            background-color: rgb(223, 241, 249);
            min-height: 100%;
        }


        .termsDiv {
            display: block;
            border-radius: 10px;
            padding: 40px;
            width: 60%;
            margin: 5% auto;
            line-height: 50px;
            text-align: left;
            background-color: rgb(130, 188, 213);
            box-shadow: 3px 5px 30px 5px rgb(55, 86, 99);

        }
    .termsDiv p{
        line-height: 25px;
    }
    
   